 .header {
    background-image: url(../../img/earth.jpg);
    background-size: 100%;

    min-height: 100vh;
 }


.header-wrapper {
    width: 1200px;

    margin: 0 auto;

    justify-content: space-between;
    align-items: center;

    color: white;
}


.header-wrapper,
.logo_and_name,
.nav-list {
    display: flex;
}

.logo_and_name {
    align-items: center;

    img {
        height: 30px;
        width: 30px;
    }

    h1 {
        font-size: 18px;

        margin-left: 14px;

        font-family: $title-font;
    }
}

.nav-list {
    li {
        list-style: none;

        margin-left: 14px;
    }
}

.button_sing-up {
    @extend %button-join;
}   