 .header {
     background-image: url(../../img/earth.jpg);
     background-size: 100%;

     min-height: 100vh;
 }

 // =======header====== 

 .header-wrapper {
     width: 1200px;

     margin: 0 auto;

     justify-content: space-between;
     align-items: center;

     color: white;
 }


 .header-wrapper,
 .logo_and_name,
 .nav-list {
     display: flex;
 }

 .logo_and_name {
     align-items: center;

     img {
         height: 30px;
         width: 30px;
     }

     h1 {
         font-size: 18px;

         margin-left: 14px;

         font-family: $paragraph-font;
     }
 }

 .nav-list {
     width: 700px;
     justify-content: space-between;

     li {
         list-style: none;
     }
 }

 .button_sing-up {
     @extend %button-join;
 }

 // =======header content=======

 .header-content {
     margin-top: 81px;

     text-align: left;

     h1 {
         width: 300px;

         font-family: $paragraph-font;
         font-size: 48px;

         margin: 0;
     }

     p {
        margin: 0;
        margin-bottom: 20px;
        margin-top: 20px;

         width: 350px;

         font-size: 20px;

         opacity: 60%;
     }
 }

 .button-get {
     @extend %main-button;
 }

 //  ======header-blocks=====

 .header-blocks {
     width: 1200px;

     margin-top: 100px;

     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .amazing-speed,
 .coverage,
 .approved {
     width: 300px;
     height: 150px;

     background: #171b20;

     border-radius: 10px;

     text-align: center;
     img {
         height: 40px;
         width: 40px;
     }

     h2 {
         font-size: 20px;
         font-family: $paragraph-font;

         margin: 0;
         margin-top: 10px;

         span {
             font-size: 16px;

             opacity: 60%;

             margin-left: 8px;
         }
     }

     h1 {
        margin: 0;
        margin-top: 10px;

        font-size: 24px;
     }

     p {
        margin: 0;
        margin-top: 10px;
     }
 }