.line_and_title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 140px;

    margin: 0;

    h3 {
        opacity: 50%;
    }
}

.internet-wrapper {
    display: flex;
    justify-content: space-between;

    margin-top: 81px;
    padding: 0 40px;
}


.text-block {
    h1 {
        width: 350px;

        font-size: 32px;

        margin: 0;
    }

    p {
        width: 350px;
        opacity: 50%;

        font-size: 20px;
    }
}

.button-explore {
    @extend %main-button;
}