.security-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;
    margin-top: 121px;

    img {
        width: 600px;
        height: 337px;
    }

    p {
        width: 450px;
    }
}

.line_and_title3 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
        opacity: 50%;
    }

    width: 140px;
}

