.user-wrapper {
    margin-top: 121px;
    padding: 0 40px;

    text-align: center;

    h1,
    p {
        width: 500px;

        margin: 0 auto;
    }

    p {
        margin-top: 20px;
    }
}

.user-block-content {
    display: flex;
    justify-content: space-between;
}

.one-user,
.two-user,
.three-user {
    margin-top: 64px;
    padding: 20px;

    width: 280px;
    height: 130px;

    background: #171b20;

    .img-title {
        display: flex;

        img {
            height: 50px;
            width: 50px;
            
            border-radius: 50%;
        }

        h2, p {
            width: 180px;

            margin: 0;
        }
    }

    width: 300px;

    .p {
        width: 300px;
    }
}